<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <strong><%= message.author %>:</strong> <%= message.message %>
        <br />
        <em>Added on: <%= message.timestamp </em>
      </li>
      <% }); %>
    </ul>
    <a href="/new">Create a New Message</a>
  </body>
</html>
