<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <a href="/new">Create a new message??</a>
    <% if (user && !user.membership) { %>
    <a href="/membership">Got the passcode? Become a member.</a>
    <% } %>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>Please log in to make posts</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>
    <h1>Dont have an account?</h1>
    <button><a href="/sign-up">Sign Up</a></button>
    <h2>Messages</h2>
    <% if (messages.length === 0) { %>
    <p>No messages to display.</p>
    <% } else { %>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <strong><%= message.title %></strong>
        <p><%= message.content %></p>
        <% if (user && user.membership === "member") { %>
        <small>By: <%= message.username %> on <%= message.timestamp %></small>
        <% } %>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
